# Configuration file of the server.
# This file is split into two divisions: network and engine configurations.

# The network section sets the hostname and the port number to listen.
[network]
host=localhost
port=1234

# The engine section holds configurations for the engine.
#  foodpernibble: the number of food that is spawned per nibble on the board.
#  fieldspernibble: multiplied with the number of nibbles this results in the
#                   size of the board.
#  starttime: this holds the time when the game is started.
[engine]
foodpernibble=3
fieldspernibble=3
starttime=12.12.24/12:33:59
